@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  cursor: none;
  --background: #171717;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Sawarabi Mincho', sans-serif;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: transform 0.000000000001s ease, background-color 0.2s ease;
}

.custom-cursor .cursor-text {
  font-size: 6px;
  font-weight: 600;
  letter-spacing: 1px;
  color: black;
  display: none;
}

a {
  text-decoration: none;
  cursor: none;
}

a:hover {
  color: var(--background); /* Invert the text color */
}

a:hover .cursor-text {
  display: block; /* Show the cursor text */
}

a:hover ~ .custom-cursor {
  background-color: white; /* Keep the cursor white on hover */
  transform: scale(1.5); /* Optional: Enlarge cursor */
  mix-blend-mode: normal;
}

/* When hovering over <a> elements */
a:hover {
  --background: #ffffff;
  --foreground: #171717;
}

html, body {
  margin: 0;

}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: lightgray;
}
